*.pyc
pyqed/__pycache__/
pyqed/pyqed/__pycache__/
build/
*.pdf
*.pyc
*.npz
.eggs/pytest_runner-6.0.0-py3.8.egg/EGG-INFO/RECORD
.eggs/pytest_runner-6.0.0-py3.8.egg/EGG-INFO/PKG-INFO
*.log
*.out
*.gz
.eggs/pytest_runner-6.0.0-py3.8.egg/EGG-INFO/PKG-INFO
*.woff2
*.xyz
pyqed/qchem/.DS_Store
.DS_Store
.DS_Store
pyqed/polariton/negf_leak.npz
*.npz
*.dat
*.dat
*.pyc
pyqed/FCIDUMP.UHF
pyqed/FCIDUMP
pyqed/qchem/dvr/rhf-Bing的Mac Studio.py
venv/
.eggs/
Shuoyi's Flie/Floquet_Band_Plots
Shuoyi's Flie/data
Shuoyi's Flie/figures
Shuoyi's Flie/data_small
Shuoyi's Flie/data_Dallago_2015
Shuoyi's Flie/Floquet_Band_Plots_Dallago_2015
Shuoyi's Flie/Floquet_Band_Plots_Gomez_Leon_2013
Shuoyi's Flie/Floquet_Band_Plots_Gomez_Leon_2013_t=0.3
Shuoyi's Flie/data_Gomez_Leon_2013_t=0.3
Shuoyi's Flie/Floquet_Band_Plots_Gomez_Leon_2013_t=1.5
Shuoyi's Flie/data_Gomez_Leon_2013_t=1.5
Shuoyi's Flie/data_Gomez_Leon_2013
Shuoyi's Flie/collected_data 
Shuoyi's Flie/data_SSH_both_bands
Shuoyi's Flie/Floquet_Band_Plots_SSH_Both_bands

Shuoyi's Flie/data_Gomez_Leon_2013_finer
Shuoyi's Flie/Floquet_Band_Plots_Gomez_Leon_2013_finer

Shuoyi's Flie/data_Gomez_Leon_2013_test
Shuoyi's Flie/Floquet_Band_Plots_Gomez_Leon_2013_test

Shuoyi's Flie/data_Gomez_Leon_2013_test_local
Shuoyi's Flie/Floquet_Band_Plots_Gomez_Leon_2013_test_local
Shuoyi's Flie/SSH_circular/data_test
Shuoyi's Flie/Gomez_Leon_2013/data_Gomez_Leon_2013_test